body {
  background-image: linear-gradient( #ff4d4d, yellow);
  background-attachment: fixed;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;

}

h2.author {
  display:inline;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.6vw;
}
h2.date {
  display:inline;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.1vw;
}

h2.post{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1vw;
}

#firstPost{
  margin-top: 1vw;

}
.postContainer{
  max-width: 60vw;
  margin-left: 3vw;
  margin-bottom: 1vw;
  padding-left: 1vw;
  padding-bottom: 0.7vw;
  padding-top: 1vw;
  white-space: normal;
}
.createPostWrapper {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.1vw;
    display:inline-block;
    position:absolute;
    right:0;
    margin-right:0px;
    width: 20vw;
}
#submitButton {
  width: 10vw;
}
img {
  max-width: 60vw;
  max-height: 20vw;
  border: 5px solid white;
}
#deleteall {
  width:20vw;
}
.uploadBtnWrapper {
  margin-top: 0.7vw;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.btn {
  border: 2px solid black;
  color:  white;
  background-color:  #ff4d4d;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
}
.uploadBtnWrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.textBoxWrapper {
  margin-top: 0.5vw;
  position: relative;
  overflow: hidden;
  
}

.textBox {
  display: inline-block;
  color:  white;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.SubmitBtnWrapper {
  margin-top: 0.5vw;
  position: relative;
  overflow: hidden;
}

.SubmitBtnWrapper input[type=submit] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#title {
  font-weight: bold;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 0;
  color: white;
  font-size: 4vw;
}