<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostPosts | Profile of {{username}}</title>
    <link rel="stylesheet" href='{{ url_for('static', filename='style.css') }}' />
</head>
<body>
    <div>
        <p id="title2"><u>{{username}}'s Profile</u></p>
        {% for post in posts: %}
        {% set fileurl=post[5].replace(" ","%20") %}
        {% if post == posts[0]: %}
        <div class="postContainer" id="firstPost">
        {% if post[2]!='@PostPostsDeveloper':%}
        <h2 class="author">{{ post[3] }}</h2>&emsp;<h2 class="author">{{ post[2] }}</h2>&emsp;<h2 class="date">{{ post[1] }}</h2>
        {% endif %}
        {% if post[2]=='@PostPostsDeveloper': %}
        <h2 class="author">{{ post[3] }}</h2>&emsp;<h2 class="author" id="developer">{{ post[2] }}</h2>&emsp;<h2 class="date">{{ post[1] }}</h2>
        {% endif %}
        <h2 class="post">{{ post[4] }}</h2>
        {% if post[5] != '' and fileurl.endswith(('.jpeg','.jpg','.png','.gif','.jfif','.PNG')):%}
        <img src={{ fileurl }}>
        {% endif %}
        {% if post[5] != '' and fileurl.endswith(('.mp4','.mov','.webm','.ogg','.mpeg','.m4p')):%}
        <video controls="controls" style="max-height: 20vw;" src={{ fileurl }}>Your browser does not support the video</video>
        {% endif %}
        </div>
        {% endif %}
        
        {% if post != posts[0]: %}
        <div class="postContainer">
        {% if post[2]!='@PostPostsDeveloper':%}
        <h2 class="author">{{ post[3] }}</h2>&emsp;<h2 class="author">{{ post[2] }}</h2>&emsp;<h2 class="date">{{ post[1] }}</h2>
        {% endif %}
        {% if post[2]=='@PostPostsDeveloper': %}
        <h2 class="author">{{ post[3] }}</h2>&emsp;<h2 class="author" id="developer">{{ post[2] }}</h2>&emsp;<h2 class="date">{{ post[1] }}</h2>
        {% endif %}
        <h2 class="post">{{ post[4] }}</h2>
        {% if post[5] != '' and fileurl.endswith(('.jpeg','.jpg','.png','.gif','.jfif','.PNG','.JPG','.JPEG')):%}
        <img src={{ fileurl }}>
        {% endif %}
        {% if post[5] != '' and fileurl.endswith(('.mp4','.mov','.webm','.ogg','.mpeg','.m4p')):%}
        <video controls="controls" style="max-height: 20vw;" src={{ fileurl }}>Your browser does not support the video</video>
        {% endif %}
        </div>
        {% endif %}
        {% endfor %}   
    </div>
</body>